label.checkbox + label.checkbox {
  margin-left: 10px;
}

/* Font-size when card image has text instead */
.card-text-only {
  font-size: 100px;
  text-align: center;
  padding-bottom: 30px;
}

figcaption {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: #ddd;
  font-size: 1.2rem;
  padding: 0.2rem 0;
}
