{{ define "content" }}
<nav class="breadcrumb" aria-label="breadcrumbs">
  <ul>
    <li><a href="/decks/">Decks</a></li>
    <li><a href="{{ .Deck.Path }}">{{ .Deck.Name }}</a></li>
    <li class="is-active"><a href="#" aria-current="page">Card</a></li>
  </ul>
</nav>

<section class="section">
  <div class="columns">
    <div class="column is-8">
      <form action="{{ .Path }}" method="post" accept-charset="utf-8">
        <h1 class="title">Edit Card</h1>
        <div class="columns">
          <div class="column is-6">
            <div class="field">
              <label class="label">Image URL *</label>
              <div class="control">
                <input class="input" type="text" name="image_url" required minlength="2" autocomplete="off" value="{{ .ImageURL }}" />
              </div>
            </div>
            <div class="field">
              <label class="label">Sound URL</label>
              <div class="control">
                <input class="input" type="text" name="sound_url" autocomplete="off" value="{{ .SoundURL }}" />
              </div>
            </div>
            {{ $deck := .Deck }}
            {{ range $i, $d := .Definitions }}
              <div class="field">
                <label class="label">{{ index $deck.Fields $i }} *</label>
                <div class="control">
                  <input class="input" type="text" name="definitions" required autocomplete="off" value="{{ $d }}" />
                </div>
              </div>
            {{ end }}
            <div class="content">
              <small>* required fields</small>
            </div>
            <div class="field is-grouped">
              <div class="control">
                <input class="button is-primary" type="submit" value="Update" />
              </div>
              <div class="control">
                <a class="button is-text" href="{{ .Deck.Path }}">Cancel</a>
              </div>
            </div>
          </div>
          <div class="column is-6">
            <div class="field">
              <label class="label">Tags</label>
              <div class="control">
                <div class="select is-multiple">
                  <select name="tags" multiple size="10">
                    {{ range .Deck.Tags }}
                      <option value="{{ .ID }}">{{ .Name }}</option>
                    {{ end }}
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="column is-4">
      <div class="card">
        <div class="card-image">
          <figure class="image is-4by3">
            {{ img .ImageURL }}
          </figure>
        </div>
        <div class="card-content">
          <div class="content">
            <dl>
              {{ $deck := .Deck }}
              {{ range $i, $d := .Definitions }}
                <dt>{{ index $deck.Fields $i }}</dt>
                <dd>{{ $d }}</dd>
              {{ end }}
            </dl>
            <div>
              {{ range .Tags }}
                <span class="tag">{{ .Name }}</span>
              {{ end }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
