{{ define "content" }}
  <nav class="breadcrumb" aria-label="breadcrumbs">
		<ul>
			<li><a href="/">Home</a></li>
			<li class="is-active"><a href="#" aria-current="page">Decks</a></li>
		</ul>
	</nav>
  <h1 class="title">Decks</h1>
  <div class="columns">
    {{ range . }}
      <div class="column is-4">
        <div class="card">
          <div class="card-content">
            <h3 class="title"><a href="{{ .Path }}">{{ .Name }}</a></h3>
            <div class="content">
              {{ .Description }}
            </div>
            <div class="content">
              {{ range .CardFields }} {{ . }} {{ end }}
            </div>
          </div>
        </div>
      </div>
    {{ end }}
  </div>
  <a class="button is-primary" href="/decks/new">Create Deck</a>
{{ end }}
