{{ define "content" }}
<nav class="breadcrumb" aria-label="breadcrumbs">
  <ul>
    <li><a href="/decks/">Decks</a></li>
    <li class="is-active"><a href="#" aria-current="page">{{ .Name }}</a></li>
  </ul>
</nav>

<section class="section">
  <div class="columns">
    <div class="column is-8">
      <h1 class="title">{{ .Name }}</h1>
      <p class="subtitle">{{ .Description }} <a href="{{ .EditPath }}">edit</a></p>

      <a class="button is-primary" href="{{ .NewCardReviewPath }}">Review Cards ({{ .CardsScheduled }})</a>
    </div>
    <div class="column is-4">
      <h3 class="title is-4">Tags</h3>
      <div class="content">
        {{ range .Tags }}
        <span class="tag"><a href="{{ .Path }}" target="">{{ .Name }}</a></span>
        {{ end }}
      </div>
      <a class="button" href="{{ .NewTagPath }}">Add Tag</a>
    </div>
  </div>
</section>

<section class="section">
  <h2 class="title is-4">Cards</h2>
  <div class="content">
    <a class="button is-primary" href="{{ .NewCardPath }}">Add Card</a>
  </div>
  <div class="columns is-multiline">
    {{ $deck := . }}
    {{ range .Cards }}
    <div class="column is-3">
      <div class="card">
        <div class="card-image">
          <figure class="image is-4by3">
            <a href="{{ .Path }}">
              {{ img .ImageURL }}
            </a>
          </figure>
          {{ if .Caption }}
          <figcaption>{{ .Caption }}</figcaption>
          {{ end }}
        </div>
        <div class="card-content">
          <div class="content">
            <p class="is-size-3 has-text-centered">
              {{ index .Definitions $deck.PrimaryField }}
            </p>
          </div>
        </div>
      </div>
    </div>
    {{ end }}
  </div>
</section>
{{ end }}