{{ define "content" }}
<nav class="breadcrumb" aria-label="breadcrumbs">
  <ul>
    <li><a href="/decks/">Decks</a></li>
    <li><a href="{{ .Deck.Path }}">{{ .Deck.Name }}</a></li>
    <li class="is-active"><a href="#" aria-current="page">New Review</a></li>
  </ul>
</nav>

<section class="section">
  <h1 class="title">New Review</h1>
  <div class="notification is-warning">
    No pending cards to review for Deck {{ .Deck.Name }}.
    <a href="{{ .Deck.Path }}">Back</a>
  </div>
</section>
{{ end }}
