<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>{{ .Title }} - SRS</title>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
		<link rel="stylesheet" href="/assets/css/main.css">
    <script src="/assets/js/main.js" charset="utf-8"></script>
	</head>
	<body>
		<nav class="navbar is-transparent container">
			<div class="navbar-brand">
        <a class="navbar-item" href="/">SRS</a>
				<div class="navbar-burger burger" data-target="navbar-top-menu">
					<span></span> <span></span> <span></span>
				</div>
			</div>
			<div id="navbar-top-menu" class="navbar-menu">
				<div class="navbar-start">
          <a class="navbar-item" href="/decks/">Decks</a>
				</div>
				<div class="navbar-end">
          {{ if .User }}
            <a class="navbar-item" href="/logout">Log out</a>
          {{ else }}
            <a class="navbar-item" href="/signup">Sign up</a>
            <a class="navbar-item" href="/login">Log in</a>
          {{ end }}
				</div>
			</div>
		</nav>

		<section class="section">
			<div class="container">
				{{ template "content" .Content }}
			</div>
		</section>
	</body>
</html>
