{{ define "content"}}
<nav class="breadcrumb" aria-label="breadcrumbs">
  <ul>
    <li><a href="/decks/">Decks</a></li>
    <li><a href="{{ .Path }}">{{ .Name }}</a></li>
    <li class="is-active"><a href="#" aria-current="page">New Practice</a></li>
  </ul>
</nav>

<form action="{{ .CreatePracticePath }}" method="post" accept-charset="utf-8">
  <input type="hidden" name="deck" id="deck" value="{{ .ID }}" />
  <h1 class="title">Practice</h1>
  <div class="columns">
    <div class="column is-4">
      <div class="field">
        <label class="label">Rounds *</label>
        <div class="control">
          <input class="input" type="number" name="rounds" min="1" value="10" />
        </div>
      </div>
      <div class="content">
        <small>* required fields</small>
      </div>
      <div class="field is-grouped">
        <div class="control">
          <input class="button is-primary" type="submit" value="Start" />
        </div>
        <div class="control">
          <a class="button is-text" href="{{ .Path }}">Cancel</a>
        </div>
      </div>
    </div>
    <div class="column is-4">
      <div class="field">
        <label class="label">Tags</label>
        <div class="control">
          <div class="select">
            <select name="tag">
              <option value="" selected>All Tags</option>
              {{ range .Tags }}
              <option value="{{ .ID }}">{{ .Name }}</option>
              {{ end }}
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
{{ end }}
