{{ define "content"}}
  <form action="/practices/" method="post" accept-charset="utf-8">
    <input type="hidden" name="deck" id="deck" value="{{ .Slug }}" />
    <h1 class="title">Practice</h1>
    <div class="columns">
      <div class="column is-4">
        <div class="field">
          <label class="label">Rounds</label>
          <div class="control">
            <input class="input" type="number" name="rounds" min="1" value="10" />
          </div>
        </div>
        <div class="field is-grouped">
          <div class="control">
            <input class="button is-primary" type="submit" value="Start" />
          </div>
          <div class="control">
            <a class="button is-text" href="/decks/{{ .Slug }}">Cancel</a>
          </div>
        </div>
      </div>
    </div>
  </form>
{{ end }}
