{{ define "content"}}
  <form action="/tags/" method="post" accept-charset="utf-8">
    <input type="hidden" name="deck" id="deck" value="{{ .Slug }}" />
    <h1 class="title">Add Tag to {{ .Name }}</h1>
    <div class="columns">
      <div class="column is-4">
        <div class="field">
          <label class="label">Name</label>
          <div class="control">
            <input class="input" type="text" name="name" minlength="2" />
          </div>
        </div>
        <div class="field is-grouped">
          <div class="control">
            <input class="button is-primary" type="submit" value="Submit" />
          </div>
          <div class="control">
            <a class="button is-text" href="/decks/{{ .Slug }}">Cancel</a>
          </div>
        </div>
      </div>
    </div>
  </form>
{{ end }}
