{{ define "content" }}
<nav class="breadcrumb" aria-label="breadcrumbs">
  <ul>
    <li><a href="/decks/">Decks</a></li>
    <li><a href="{{ .Practice.Deck.Path }}">{{ .Practice.Deck.Name }}</a></li>
    <li class="is-active"><a href="#" aria-current="page">Practice</a></li>
  </ul>
</nav>

<section class="section">
  <div class="columns">
    <div class="column is-4">
      <div class="card">
        <div class="card-image">
          <figure class="image is-4by3">
            {{ img .PromptImage }}
          </figure>
          {{ if .Caption }}
            <figcaption>{{ .Caption }}</figcaption>
          {{ end }}
        </div>
        <div class="card-content">
          {{ if .Done }}
            <div class="content">
              <div class="field">
                <strong>Your Answer:</strong> {{ .Guess }}
              </div>
              <div class="content">
                {{ if .Correct }}
                  <strong>Correct!</strong>
                {{ else }}
                  <strong>Correct Answer:</strong> {{ .Answer }}
                {{ end }}
              </div>
              {{ if .Practice.Done }}
                <a class="button is-primary" href="{{ .Practice.Path }}" autofocus>See Results</a>
              {{ else}}
                <a class="button is-primary" href="{{ .Practice.NewRoundPath }}" autofocus>Continue</a>
              {{ end }}
            </div>
          {{ else }}
            <div class="content">
              <form action="{{ .Path }}" method="post" accept-charset="utf-8">
                <div class="field">
                  <label class="label">Answer</label>
                  <div class="control">
                    <input class="input" type="text" name="guess" required autocomplete="off" autofocus />
                  </div>
                </div>
                <div class="field is-grouped">
                  <div class="control">
                    <input class="button is-primary" type="submit" value="Submit" />
                  </div>
                </div>
              </form>
            </div>
            {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
